.card {
    
    align-items: center;
    background: #56ADDC;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 250px;
    justify-content: center;
    margin: 5px 5px;
    opacity: 0.9;
    width: 200px;
}

.card:hover {
   background-color: rgb(188, 217, 221);
   transition: background-color .2s;
}

.names {
    align-items: center;
    color: #0f5064;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-style: italic;
    justify-content: center;
    text-align: center;
    
}

.names a {
    text-decoration: none;
}

.names p {
    color:#040b1f;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.names span {
 color:#040b1f;   
}