 html, body {
	 height: 100%;
	 margin: 0;
 }

.background {
    display: flex;
    align-items: flex-end;
	justify-content: center;
    height: 760px;
	width: 100%;    
    background-size: cover; 
	/* background round */

}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #282b36;
	font-style: italic;
}

/*
.imagen:hover { */
    /* -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
    /* -webkit-transform: rotate(-270deg);
    /* -moz-transform: rotate(90deg);
    -ms-transform: rotate(-90deg); */
    /* transform: rotate(-270deg); */
    /* -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
 /* */
 /* -webkit-transform: rotate(0deg);
  to -webkit-transform: rotate(360deg);
} */ 

/* el html */
/* <ul className="ch-grid">
	<li>
		<div className="ch-item ch-img-1">
			<div className="ch-info">
				<h3>Use what you have</h3>
				<p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
			</div>
		</div>
	</li>
</ul> */

/* el css */
/* .ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
} */

/* .ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}


.ch-img-1 { 
	background-image: url(../images/1.jpg);
}

.ch-img-2 { 
	background-image: url(../images/2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/3.jpg);
}


.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}


.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}



.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}


.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}



.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}


.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}



.ch-item:hover .ch-info p {
	opacity: 1;
} */



/* otro ejemplo */
/* html */
/* <div class="contenedor">
    <img src="http://programandoointentandolo.com/ejemplos/imagenes/cubo/img1.png" />
    <img class="top" src="http://programandoointentandolo.com/ejemplos/imagenes/cubo/img6.png" />
</div> */



/* CSS */   
/*   
  .contenedor {
    position: relative;
    height: 290px;
    width: 290px;
    margin: 50px 20px;
    float: left;
  }
  
  .contenedor img {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
  }
  
  .contenedor img.top:hover {
    opacity: 0;
  } */