.nav {
    background: #187795;
    /* display: flex;. */
    align-items: center;
    width: 100%;
    flex-direction: row;
    padding: 0.5rem;
    height: 30px;
    font-size: 18px;  
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  
}

.grid {
    color:#e8e9ee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-weight: bold;
    font-style: italic; 
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    
}
.grid a {
    text-decoration: none;
}


